@import org.webjars.play.WebJarsUtil
@import controllers.AssetsFinder

@(title: String)(content: Html)(implicit messages: Messages, webJarsUtil: WebJarsUtil, assets: AssetsFinder)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="shortcut icon" type="image/png" href="@assets.path("img/favicon.png")">

        <link rel="stylesheet" href="@assets.path("stylesheets/main.css")">

        <script src="@webJarsUtil.script("jquery.min.js")" type="text/javascript"></script>
        <script src="@webJarsUtil.script("bootstrap.min.js")" type="text/javascript"></script>
    </head>
    <body>
        @ui.navbar()
        @content
    </body>
</html>
