@import org.webjars.play.WebJarsUtil

@(title: String)(content: Html)(implicit messages: Messages, webJarAssets: WebJarsUtil)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("img/favicon.png")">

        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/main.css")">

        <script src="@routes.WebJarAssets.at(webJarAssets.locate("jquery.min.js"))" type="text/javascript"></script>
        <script src="@routes.WebJarAssets.at(webJarAssets.locate("bootstrap.min.js"))" type="text/javascript"></script>
    </head>
    <body>
        @ui.navbar()
        @content
    </body>
</html>
